*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.loginPage {
    background: url('./images/employeems.jpeg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("./images/download.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

.signuppage {
    background: url('./images/employeems.jpeg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("./images/download.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    color: aliceblue;
}

.best
{
    background: url('./images/employeems.jpeg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("./images/download.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;

}

/* .addEmployee
{
    
} */

/* .App {
   width: fit-content;
} */
 
table {
  width: 100%;
  border: 2px solid black;
  margin-top: 50px;
}
 
th {
    border-bottom: 2px solid black;
    text-align: center;
}
 
td {
    border-bottom: 2px solid black;
    text-align: center;
}

.adminsignup
{
    background: url('./images/employeems.jpeg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("./images/download.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;   
    color: aliceblue;
    height: 100vh;
}
